.d1{
    background-color: brown;
    height: 300px;
    width: 50%;
    box-sizing: border-box;
    border: 5px solid black;
    padding: 10px;
    float: left;
    text-align: justify;
    border-right: 2px;
    
}
.d2{
    background-color: green;
    height: 300px;
    width: 50%;
    float: left;
    text-align: justify;
    box-sizing: border-box;
    border: 5px solid black;
    padding: 10px;
    border-left: 2px;

}
.l{
    opacity: 0.5;
}
img{
    height: 300px;
    width: 500px;
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}