div{
    height: 200px;
    width: 250px;
    background-color: green;
    border: 1 px solid red;
    padding: 20px;
    overflow: auto;
}
.tool .h{
    visibility: hidden;
    width: 150px;
    background-color: indigo;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    top: 30px;
    left: 10px;
    z-index: 1;
}
.tool:hover .h{
    visibility:visible;
}