/*  .main{
    background-color: tomato;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
     transition-property: width;
    transition-duration: 2s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out; 

     transition: width 2s , height 4s linear 1s; 
     transform: width 2s, transform 2s; 
} 


 h1{
    font-size: 2.5rem;
    color: white;
     transition: font-size 2s; 
} 


.main:hover{
    width: 400px;
    height: 500px; 
    transform: rotate(360deg);


} */


.main{
    background-color: tomato;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    transition: width 2s, transform 2s;
  
}

h1{
   

    font-size: 2.5rem;
    color: white;
 
}

.main:hover{
    width: 400px;
    transform: rotate(360deg);
}