#s1{
    background-color: aqua;
    
}
#s1 h1{
    color: blue;
}
#s1 p{
    color: green;
    font-size: 200%;
    font-style: italic;
}
.m{
    font-size: 100%;
}
.m1{
    background-color: yellow;
}