@media screen and (max-width : 600px) {
    .menu{
        flex-direction: column;
        padding: 10px;
    }

    .menu a{
        background-color: indigo;
        margin: 10px 0;
        text-align: center;
        border-radius: 10px;
    }
}

.menu{
    background-color: cadetblue;
    display: flex;
     justify-content: flex-end; 
  
}

.menu a{
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
}

.menu a:hover{
    background-color: gray;
}