h1{
    background-color: gray;
}
#b{
    background-color: blue;
}
.a{
    background-color: green;
}

/* 
        SPECIFICITY
        A= number of id
        B=number of class ,pseduo classes,attributes
        C=number of element , pesudo element, attributes
*/
 