h1,h2,div{
    background-color: pink;
    display: inline;
    
}
h1{
    width: 600px;
    margin: auto;
    border: 3px solid black;
}
h2{
    max-width: 600px;
    margin: auto;
    border: 3px solid black;
}
div{
    max-width: 600px;
    margin: auto;
    border: 3px solid black;
}